<div class="container-fluid">
    <h2>Clientes</h2>
    <button type="button" class="btn btn-success toggle-btn">
        <i class="fa fa-plus"></i> Cliente        
    </button>
    <br><br>
    <div class="panel panel-default collapse" id="collapse-form">
        <div class="panel-body">
            <div class="alert alert-success" role="alert" ng-if="ctrl.successMessage">{{ctrl.successMessage}}</div>
            <div class="alert alert-danger" role="alert" ng-if="ctrl.errorMessage">{{ctrl.errorMessage}}</div>
            <form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
                <input type="hidden" ng-model="ctrl.cliente.id" />
                <div class="form-panel">
                    <div class="form-group">
                        <input type="text" ng-model="ctrl.cliente.nome" name="nome" class="form-control" placeholder="Nome" />
                    </div>
                    <div class="form-group">
                        <input type="text" ng-model="ctrl.cliente.rendMensal" name="rendMensal" class="form-control" placeholder="Rend. Mensal" />
                    </div>
                    <div class="form-group">
                        <input type="text" ng-model="ctrl.cliente.endereco" name="endereco" class="form-control" placeholder="Endereço" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-actions float-left">
                        <input type="submit"  value="{{!ctrl.cliente.id ? 'Adicionar' : 'Atualizar'}}" class="btn btn-success" ng-disabled="myForm.$invalid || myForm.$pristine">
                        <button type="button" ng-click="ctrl.reset()" class="btn btn-default" ng-disabled="myForm.$pristine">Reiniciar</button>
                    </div>
                </div>
            </form>
        </div>	
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Rend. Mensal</th>
                            <th>Risco</th>
                            <th>Endereço</th>
                            <th class="text-center">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="cliente in ctrl.getAllClientes()">
                            <td>{{cliente.id}}</td>
                            <td>{{cliente.nome}}</td>
                            <td>{{cliente.rendMensal}}</td>
                            <td>{{cliente.risco}}</td>
                            <td>{{cliente.endereco}}</td>
                            <td class="col-actions">
                                <a ng-click="ctrl.editCliente(cliente.id)" class="btn btn-primary show-btn"><i class="fa fa-edit"></i> Editar</a>
                                <a sec:authorize="hasAuthority('ADMIN')" ng-click="ctrl.removeCliente(cliente.id)" class="btn btn-danger"><i class="fa fa-trash"></i> Excluir</a>
                            </td>
                        </tr>
                    </tbody>
                </table>		
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/js/collapse.js}"></script>