<div class="container-fluid">
    <h2>Usuários</h2>
    <button type="button" ng-click="ctrl.divCollapse()" class="btn btn-success">
        <i ng-class="ctrl.class"></i> Usuário
    </button>
    <br><br>
    <div class="panel panel-default collapse">
        <div class="panel-body">
            <div class="alert alert-success" role="alert" ng-if="ctrl.successMessage">{{ctrl.successMessage}}</div>
            <div class="alert alert-danger" role="alert" ng-if="ctrl.errorMessage">{{ctrl.errorMessage}}</div>
            <form ng-submit="ctrl.submitUsuario()" name="usuarioForm" class="form-horizontal">
                <input type="hidden" ng-model="ctrl.usuario.id" />
                <div class="form-panel">
                    <div class="form-group">
                        <input type="text" ng-model="ctrl.usuario.name" name="name" class="form-control" placeholder="Nome" />
                    </div>
                    <div class="form-group">
                        <input type="text" ng-model="ctrl.usuario.username" name="username" class="form-control" placeholder="Usuário" />
                    </div>
                    <div class="form-group">
                        <input type="text" ng-model="ctrl.usuario.password" name="password" class="form-control" placeholder="Senha" />
                    </div>
                    <div class="form-group">
                        <select ng-model="ctrl.usuario.role" name="role" id="role" class="form-control">
							<option selected="selected" disabled="disabled">Função</option>
                            <option value="ADMIN">ADMIN</option>
                            <option value="USER">USER</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-actions float-left">
                        <button type="submit" class="btn btn-success" ng-disabled="usuarioForm.$invalid || usuarioForm.$pristine">
                            <i class="fa fa-hdd-o"></i> {{!ctrl.usuario.id ? 'Adicionar' : 'Atualizar'}}
                        </button>
                        <button type="button" ng-click="ctrl.reset()" class="btn btn-default">
                            <i class="fa fa-eraser"></i> Limpar
                        </button>
                    </div>
                </div>
            </form>
        </div>	
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="search">
                    <div class="inner-addon right-addon">
                        <i class="fa fa-search"></i>
                        <input type="text" class="form-control" placeholder="Pesquisar" ng-model="pesquisar" />
                    </div>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Usuário</th>
                        <th>Função</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="usuario in filterData = (ctrl.getAllUsers()| filter: pesquisar) | limitTo: 5:5*(page-1)">
                        <td>{{usuario.id}}</td>
                        <td>{{usuario.name}}</td>
                        <td>{{usuario.username}}</td>
                        <td>{{usuario.role}}</td>
                        <td class="col-actions">
                            <a ng-click="ctrl.editUser(usuario.id)" class="btn btn-primary show-btn"><i class="fa fa-edit"></i> Editar</a>
                            <a sec:authorize="hasAuthority('ADMIN')" ng-click="ctrl.removeUser(usuario.id)" class="btn btn-danger"><i class="fa fa-trash"></i> Excluir</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="pagination-left">
                    Total de Registros: {{filterData.length}}
                </div>
                <div class="pagination-right">
                    <uib-pagination class="pagination-sm pagination" total-items="filterData.length" ng-model="page"
                                    previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=5></uib-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
